* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: bree, sans-serif;
  color: #391f17; }
  * .home {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 10; }
    * .home a {
      grid-column: 1/2;
      display: grid;
      justify-items: start;
      align-items: flex-start;
      max-width: 80px;
      max-height: 100px; }
      * .home a img {
        max-width: 90%;
        padding: 5%; }
  * .home2 {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 10; }
    * .home2 a {
      grid-column: 1/2;
      display: grid;
      justify-items: start;
      align-items: flex-start;
      max-width: 80px;
      max-height: 100px; }
      * .home2 a img {
        max-width: 90%;
        padding: 5%; }
  * .bodywrapper {
    display: grid;
    grid-template-columns: 100%;
    background-color: #511f18;
    height: 100vh; }
  * .bgwrapper {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../media/bgindex.png");
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 60% 10% 10% 10% 10%;
    align-items: center;
    text-align: center; }
    * .bgwrapper .logowrapper {
      grid-column: 1/4;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 50px; }
      * .bgwrapper .logowrapper .papalogo {
        grid-row: 3/5;
        grid-column: 1/2;
        max-width: 366px;
        display: grid; }
    * .bgwrapper .headingwrapper {
      grid-column: 2/3;
      grid-row: 2/3;
      font-size: 0.7rem; }
    * .bgwrapper .btnwrapper {
      grid-row: 3/4;
      grid-column: 2/3; }
      * .bgwrapper .btnwrapper button {
        cursor: pointer;
        font-size: 1.2rem; }
      * .bgwrapper .btnwrapper .btn-style {
        background-image: url("../media/ikon3.png");
        background-size: 100%;
        width: 40%;
        height: 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        color: #391f17;
        padding: 7px 32px;
        text-align: center;
        text-decoration: none; }
  * .bgwrapper2 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-image: url("../media/bar-outside.png");
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 10% 10% 20% 20%; }
    * .bgwrapper2 .paperwrapper {
      grid-column: 1/2;
      grid-row: 3/7;
      background-image: url("../media/paperfull.png");
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 10% 40% 40% 10%;
      grid-template-rows: 20% 15% 20% 20% 25%;
      text-align: center; }
      * .bgwrapper2 .paperwrapper .txtwrapperit {
        font-style: italic;
        font-size: 0.9rem; }
      * .bgwrapper2 .paperwrapper .headingwrapper {
        grid-column: 2/4;
        grid-row: 2/3; }
        * .bgwrapper2 .paperwrapper .headingwrapper h1 {
          font-size: 1.5rem; }
      * .bgwrapper2 .paperwrapper .txtwrapperit {
        grid-column: 2/4;
        grid-row: 3/4; }
      * .bgwrapper2 .paperwrapper .txtwrapper {
        grid-column: 1/5;
        grid-row: 3/4; }
      * .bgwrapper2 .paperwrapper .btnwrapper2 {
        grid-column: 2/4;
        grid-row: 5/6; }
        * .bgwrapper2 .paperwrapper .btnwrapper2 .btn-style {
          background-image: url("../media/ikon3.png");
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: #391f17;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2rem; }
  * .bgwrapper3 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 10% 10% 20% 20%;
    background-image: url("../media/bar-1.png"); }
    * .bgwrapper3 .validate {
      display: none;
      grid-row: 1/3;
      grid-column: 1/2;
      max-height: 100px; }
      * .bgwrapper3 .validate .pwrapper p {
        margin-left: 50%;
        margin-top: 7%;
        background-image: url("../media/papersmall.png");
        background-size: cover;
        padding: 5%;
        text-align: center; }
    * .bgwrapper3 .validate3 {
      display: none;
      grid-row: 1/3;
      grid-column: 1/2;
      max-height: 100px; }
      * .bgwrapper3 .validate3 .pwrapper p {
        margin-left: 50%;
        margin-top: 7%;
        background-image: url("../media/papersmall.png");
        background-size: cover;
        padding: 5%;
        text-align: center; }
    * .bgwrapper3 .paperwrapper2, * .bgwrapper3 .paperwrapper3 {
      grid-column: 1/2;
      grid-row: 3/7;
      background-image: url("../media/paperfull.png");
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 10% 40% 40% 10%;
      grid-template-rows: 20% 15% 20% 20% 25%;
      text-align: center; }
      * .bgwrapper3 .paperwrapper2 .headingwrapper, * .bgwrapper3 .paperwrapper3 .headingwrapper {
        grid-column: 1/-1;
        grid-row: 2/3; }
        * .bgwrapper3 .paperwrapper2 .headingwrapper h1, * .bgwrapper3 .paperwrapper3 .headingwrapper h1 {
          font-size: 1.5rem; }
      * .bgwrapper3 .paperwrapper2 .counterwrapper, * .bgwrapper3 .paperwrapper3 .counterwrapper {
        grid-row: 1/2;
        display: grid;
        align-items: center;
        grid-column: 2/4; }
        * .bgwrapper3 .paperwrapper2 .counterwrapper p, * .bgwrapper3 .paperwrapper3 .counterwrapper p {
          margin-top: 20px; }
      * .bgwrapper3 .paperwrapper2 .txtwrapperit, * .bgwrapper3 .paperwrapper3 .txtwrapperit {
        font-style: italic;
        font-size: 0.9rem; }
      * .bgwrapper3 .paperwrapper2 .infowrapper, * .bgwrapper3 .paperwrapper3 .infowrapper {
        font-size: 0.9rem;
        grid-column: 2/4;
        grid-row: 3/4; }
      * .bgwrapper3 .paperwrapper2 .btnwrapper3, * .bgwrapper3 .paperwrapper3 .btnwrapper3 {
        grid-row: 5/6;
        grid-column: 2/3;
        z-index: 25; }
        * .bgwrapper3 .paperwrapper2 .btnwrapper3 .btn-style, * .bgwrapper3 .paperwrapper3 .btnwrapper3 .btn-style {
          background-image: url(../media/ikon3.png);
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: #391f17;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: bree, sans-serif; }
      * .bgwrapper3 .paperwrapper2 .btnwrapper2, * .bgwrapper3 .paperwrapper3 .btnwrapper2 {
        margin-top: 20px;
        grid-row: 5/6;
        grid-column: 3/4;
        display: grid;
        align-items: center;
        z-index: 25; }
        * .bgwrapper3 .paperwrapper2 .btnwrapper2 .btn-style, * .bgwrapper3 .paperwrapper3 .btnwrapper2 .btn-style {
          background-image: url(../media/ikon3.png);
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: #391f17;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: bree, sans-serif; }
      * .bgwrapper3 .paperwrapper2 .arrow-upwrapper, * .bgwrapper3 .paperwrapper3 .arrow-upwrapper {
        grid-row: 1/4;
        grid-column: 3/5;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%); }
        * .bgwrapper3 .paperwrapper2 .arrow-upwrapper .pilop, * .bgwrapper3 .paperwrapper3 .arrow-upwrapper .pilop {
          display: grid;
          grid-row: 2/6;
          grid-column: 4/6;
          z-index: 21;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%;
          margin-top: 5%; }
          * .bgwrapper3 .paperwrapper2 .arrow-upwrapper .pilop #pilopimg, * .bgwrapper3 .paperwrapper3 .arrow-upwrapper .pilop #pilopimg {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 20; }
          * .bgwrapper3 .paperwrapper2 .arrow-upwrapper .pilop #pilopimg:hover, * .bgwrapper3 .paperwrapper3 .arrow-upwrapper .pilop #pilopimg:hover {
            cursor: pointer; }
        * .bgwrapper3 .paperwrapper2 .arrow-upwrapper .pilop2, * .bgwrapper3 .paperwrapper3 .arrow-upwrapper .pilop2 {
          display: grid;
          grid-row: 5/6;
          grid-column: 4/6;
          z-index: 21;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%;
          margin-top: 5%; }
          * .bgwrapper3 .paperwrapper2 .arrow-upwrapper .pilop2 #pilopimg2, * .bgwrapper3 .paperwrapper3 .arrow-upwrapper .pilop2 #pilopimg2 {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 20; }
          * .bgwrapper3 .paperwrapper2 .arrow-upwrapper .pilop2 #pilopimg2:hover, * .bgwrapper3 .paperwrapper3 .arrow-upwrapper .pilop2 #pilopimg2:hover {
            cursor: pointer; }
      * .bgwrapper3 .paperwrapper2 .arrow-downwrapper, * .bgwrapper3 .paperwrapper3 .arrow-downwrapper {
        grid-row: 4/6;
        grid-column: 3/5;
        z-index: 20;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        z-index: 6; }
        * .bgwrapper3 .paperwrapper2 .arrow-downwrapper .nedad, * .bgwrapper3 .paperwrapper3 .arrow-downwrapper .nedad {
          display: grid;
          grid-row: 1/6;
          grid-column: 4/6;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%; }
          * .bgwrapper3 .paperwrapper2 .arrow-downwrapper .nedad #pilnedimg, * .bgwrapper3 .paperwrapper3 .arrow-downwrapper .nedad #pilnedimg {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 21; }
          * .bgwrapper3 .paperwrapper2 .arrow-downwrapper .nedad #pilnedimg:hover, * .bgwrapper3 .paperwrapper3 .arrow-downwrapper .nedad #pilnedimg:hover {
            cursor: pointer; }
      * .bgwrapper3 .paperwrapper2 .selectwrapper, * .bgwrapper3 .paperwrapper3 .selectwrapper {
        grid-row: 3/5;
        grid-column: 2/4;
        overflow-x: scroll;
        margin-top: 10%;
        z-index: 40; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper input, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper input {
          position: absolute;
          opacity: 0;
          cursor: pointer; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .underline, * .bgwrapper3 .paperwrapper3 .selectwrapper .underline {
          position: absolute;
          top: 35px;
          left: 40%;
          height: 25px;
          width: 60px; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .underline:after, * .bgwrapper3 .paperwrapper3 .selectwrapper .underline:after {
          content: "";
          position: absolute;
          display: none; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper input:checked ~ .underline, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper input:checked ~ .underline {
          background-image: url("../media/ikon13.png");
          background-size: 100%;
          background-repeat: no-repeat; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper input:checked ~ .underline:after, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper input:checked ~ .underline:after {
          display: block; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper label li, * .bgwrapper3 .paperwrapper3 .selectwrapper label li {
          padding-bottom: 7px; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper2, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper2 {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper2 input, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper2 input {
            position: absolute;
            opacity: 0;
            cursor: pointer; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper2 .underline, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper2 .underline {
            position: absolute;
            top: 35px;
            left: 25%;
            height: 25px;
            width: 150px; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper2 .underline:after, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper2 .underline:after {
            content: "";
            position: absolute;
            display: none; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper2 input:checked ~ .underline, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper2 input:checked ~ .underline {
            background-image: url("../media/ikon1.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper2 input:checked ~ .underline:after, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper2 input:checked ~ .underline:after {
            display: block; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper2 label li, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper2 label li {
            padding-bottom: 7px; }
        * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper3, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper3 {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper3 input, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper3 input {
            position: absolute;
            opacity: 0;
            cursor: pointer; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper3 .underline, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper3 .underline {
            position: absolute;
            top: 35px;
            left: 24%;
            height: 25px;
            width: 180px; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper3 .underline:after, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper3 .underline:after {
            content: "";
            position: absolute;
            display: none; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper3 input:checked ~ .underline, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper3 input:checked ~ .underline {
            background-image: url("../media/ikon1.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper3 input:checked ~ .underline:after, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper3 input:checked ~ .underline:after {
            display: block; }
          * .bgwrapper3 .paperwrapper2 .selectwrapper .listwrapper3 label li, * .bgwrapper3 .paperwrapper3 .selectwrapper .listwrapper3 label li {
            padding-bottom: 7px; }
      * .bgwrapper3 .paperwrapper2 .btnwrapper2, * .bgwrapper3 .paperwrapper3 .btnwrapper2 {
        margin-top: 20px;
        grid-row: 5/6;
        grid-column: 3/4;
        display: grid;
        align-items: center;
        z-index: 25; }
        * .bgwrapper3 .paperwrapper2 .btnwrapper2 .btn-style, * .bgwrapper3 .paperwrapper3 .btnwrapper2 .btn-style {
          width: 80%; }
      * .bgwrapper3 .paperwrapper2 .btnwrapper3, * .bgwrapper3 .paperwrapper3 .btnwrapper3 {
        grid-row: 5/6;
        grid-column: 2/3;
        z-index: 25;
        margin-top: 20px;
        display: grid;
        align-items: center; }
        * .bgwrapper3 .paperwrapper2 .btnwrapper3 .btn-style, * .bgwrapper3 .paperwrapper3 .btnwrapper3 .btn-style {
          width: 80%; }
    * .bgwrapper3 .paperwrapper3 .txtwrapperit {
      font-style: italic;
      font-size: 0.9rem; }
    * .bgwrapper3 .paperwrapper3 .txtwrapper {
      grid-column: 1/5;
      grid-row: 3/4; }
    * .bgwrapper3 .paperwrapper3 .selectwrapper {
      grid-row: 4/5;
      margin-top: 0; }
      * .bgwrapper3 .paperwrapper3 .selectwrapper ul li {
        margin-bottom: 5%; }
    * .bgwrapper3 .hej {
      grid-template-rows: 20% 10% 25% 20% 25%; }
  * .bgwrapper4 {
    grid-row: 1/2;
    grid-column: 1/2;
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100%;
    background-image: url("../media/bar-1.png");
    grid-template-rows: 20vh 20vh 10vh 10vh 20vh 20vh;
    grid-template-columns: 33.3% 33.3% 33.3%;
    background-image: url("../media/Red-big.png"); }
    * .bgwrapper4 .validate2 {
      display: none;
      grid-row: 1/2;
      grid-column: 1/4;
      max-height: 100px; }
      * .bgwrapper4 .validate2 .pwrapper p {
        margin-left: 50%;
        margin-top: 7%;
        background-image: url("../media/papersmall.png");
        background-size: cover;
        padding: 5%;
        text-align: center; }
    * .bgwrapper4 .Cecilia {
      grid-column: 1/2;
      grid-row: 1/4;
      margin-left: 12%;
      margin-top: 70%; }
      * .bgwrapper4 .Cecilia img {
        max-width: 130%; }
    * .bgwrapper4 .Cecilia2 {
      grid-column: 1/4;
      grid-row: 1/4;
      display: grid;
      justify-items: center;
      margin-top: 2em; }
      * .bgwrapper4 .Cecilia2 img {
        max-width: 130%; }
    * .bgwrapper4 .Cecilia3 {
      grid-column: 1/2;
      grid-row: 1/4;
      display: grid;
      justify-items: center;
      margin-top: 6em; }
      * .bgwrapper4 .Cecilia3 img {
        max-width: 130%; }
    * .bgwrapper4 .Malik {
      grid-column: 2/3;
      grid-row: 2/4; }
      * .bgwrapper4 .Malik img {
        max-width: 140%; }
    * .bgwrapper4 .Malik2 {
      grid-column: 1/4;
      grid-row: 1/4; }
      * .bgwrapper4 .Malik2 img {
        max-width: 90%; }
    * .bgwrapper4 .Malik3 {
      grid-column: 1/3;
      grid-row: 1/4;
      margin-top: 40%; }
      * .bgwrapper4 .Malik3 img {
        max-width: 90%; }
    * .bgwrapper4 .Sarah {
      grid-column: 3/4;
      grid-row: 2/4;
      margin-left: 10%; }
      * .bgwrapper4 .Sarah img {
        max-width: 100%; }
    * .bgwrapper4 .Sarah2 {
      grid-column: 1/4;
      grid-row: 1/4;
      display: grid;
      justify-items: center;
      margin-top: 10%; }
      * .bgwrapper4 .Sarah2 img {
        max-width: 70%; }
    * .bgwrapper4 .Sarah3 {
      grid-column: 1/3;
      grid-row: 1/4;
      display: grid;
      justify-items: center;
      margin-top: 35%; }
      * .bgwrapper4 .Sarah3 img {
        max-width: 70%; }
    * .bgwrapper4 .guruwrapper {
      grid-row: 1/4;
      grid-column: 1/4; }
    * .bgwrapper4 .paperwrapper4 {
      z-index: 5;
      grid-column: 1/4;
      grid-row: 3/7;
      background-image: url("../media/paperfull.png");
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 10% 40% 40% 10%;
      grid-template-rows: 20% 15% 20% 20% 25%;
      text-align: center; }
      * .bgwrapper4 .paperwrapper4 .headingwrapper {
        grid-column: 1/-1;
        grid-row: 2/3; }
        * .bgwrapper4 .paperwrapper4 .headingwrapper h1 {
          font-size: 1.5rem; }
      * .bgwrapper4 .paperwrapper4 .counterwrapper {
        grid-row: 1/2;
        display: grid;
        align-items: center;
        grid-column: 2/4; }
        * .bgwrapper4 .paperwrapper4 .counterwrapper p {
          margin-top: 20px; }
      * .bgwrapper4 .paperwrapper4 .txtwrapperit {
        font-style: italic;
        font-size: 0.9rem; }
      * .bgwrapper4 .paperwrapper4 .infowrapper {
        font-size: 0.9rem;
        grid-column: 2/4;
        grid-row: 3/4; }
      * .bgwrapper4 .paperwrapper4 .btnwrapper3 {
        grid-row: 5/6;
        grid-column: 2/3;
        z-index: 25; }
        * .bgwrapper4 .paperwrapper4 .btnwrapper3 .btn-style {
          background-image: url(../media/ikon3.png);
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: #391f17;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: bree, sans-serif; }
      * .bgwrapper4 .paperwrapper4 .btnwrapper2 {
        margin-top: 20px;
        grid-row: 5/6;
        grid-column: 3/4;
        display: grid;
        align-items: center;
        z-index: 25; }
        * .bgwrapper4 .paperwrapper4 .btnwrapper2 .btn-style {
          background-image: url(../media/ikon3.png);
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: #391f17;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: bree, sans-serif; }
      * .bgwrapper4 .paperwrapper4 .arrow-upwrapper {
        grid-row: 1/4;
        grid-column: 3/5;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%); }
        * .bgwrapper4 .paperwrapper4 .arrow-upwrapper .pilop {
          display: grid;
          grid-row: 2/6;
          grid-column: 4/6;
          z-index: 21;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%;
          margin-top: 5%; }
          * .bgwrapper4 .paperwrapper4 .arrow-upwrapper .pilop #pilopimg {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 20; }
          * .bgwrapper4 .paperwrapper4 .arrow-upwrapper .pilop #pilopimg:hover {
            cursor: pointer; }
        * .bgwrapper4 .paperwrapper4 .arrow-upwrapper .pilop2 {
          display: grid;
          grid-row: 5/6;
          grid-column: 4/6;
          z-index: 21;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%;
          margin-top: 5%; }
          * .bgwrapper4 .paperwrapper4 .arrow-upwrapper .pilop2 #pilopimg2 {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 20; }
          * .bgwrapper4 .paperwrapper4 .arrow-upwrapper .pilop2 #pilopimg2:hover {
            cursor: pointer; }
      * .bgwrapper4 .paperwrapper4 .arrow-downwrapper {
        grid-row: 4/6;
        grid-column: 3/5;
        z-index: 20;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        z-index: 6; }
        * .bgwrapper4 .paperwrapper4 .arrow-downwrapper .nedad {
          display: grid;
          grid-row: 1/6;
          grid-column: 4/6;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%; }
          * .bgwrapper4 .paperwrapper4 .arrow-downwrapper .nedad #pilnedimg {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 21; }
          * .bgwrapper4 .paperwrapper4 .arrow-downwrapper .nedad #pilnedimg:hover {
            cursor: pointer; }
      * .bgwrapper4 .paperwrapper4 .selectwrapper {
        grid-row: 3/5;
        grid-column: 2/4;
        overflow-x: scroll;
        margin-top: 10%;
        z-index: 40; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper input {
          position: absolute;
          opacity: 0;
          cursor: pointer; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .underline {
          position: absolute;
          top: 35px;
          left: 40%;
          height: 25px;
          width: 60px; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .underline:after {
          content: "";
          position: absolute;
          display: none; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper input:checked ~ .underline {
          background-image: url("../media/ikon13.png");
          background-size: 100%;
          background-repeat: no-repeat; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper input:checked ~ .underline:after {
          display: block; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper label li {
          padding-bottom: 7px; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper2 {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper2 input {
            position: absolute;
            opacity: 0;
            cursor: pointer; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper2 .underline {
            position: absolute;
            top: 35px;
            left: 25%;
            height: 25px;
            width: 150px; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper2 .underline:after {
            content: "";
            position: absolute;
            display: none; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper2 input:checked ~ .underline {
            background-image: url("../media/ikon1.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper2 input:checked ~ .underline:after {
            display: block; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper2 label li {
            padding-bottom: 7px; }
        * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper3 {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper3 input {
            position: absolute;
            opacity: 0;
            cursor: pointer; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper3 .underline {
            position: absolute;
            top: 35px;
            left: 24%;
            height: 25px;
            width: 180px; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper3 .underline:after {
            content: "";
            position: absolute;
            display: none; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper3 input:checked ~ .underline {
            background-image: url("../media/ikon1.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper3 input:checked ~ .underline:after {
            display: block; }
          * .bgwrapper4 .paperwrapper4 .selectwrapper .listwrapper3 label li {
            padding-bottom: 7px; }
      * .bgwrapper4 .paperwrapper4 .btnwrapper2 {
        margin-top: 20px;
        grid-row: 5/6;
        grid-column: 3/4;
        display: grid;
        align-items: center;
        z-index: 25; }
        * .bgwrapper4 .paperwrapper4 .btnwrapper2 .btn-style {
          width: 80%; }
      * .bgwrapper4 .paperwrapper4 .btnwrapper3 {
        grid-row: 5/6;
        grid-column: 2/3;
        z-index: 25;
        margin-top: 20px;
        display: grid;
        align-items: center; }
        * .bgwrapper4 .paperwrapper4 .btnwrapper3 .btn-style {
          width: 80%; }
      * .bgwrapper4 .paperwrapper4 .txtwrapperit {
        font-style: italic;
        font-size: 0.9rem;
        grid-column: 2/4;
        grid-row: 3/4; }
      * .bgwrapper4 .paperwrapper4 .selectwrapper ul li {
        margin-bottom: 5%; }
      * .bgwrapper4 .paperwrapper4 .selectwrapper {
        grid-row: 3/5;
        margin-top: 10%; }
      * .bgwrapper4 .paperwrapper4 .mt-10p {
        margin-top: 20%; }
      * .bgwrapper4 .paperwrapper4 #alittleup {
        margin-top: 0; }
    * .bgwrapper4 .paperwrapper5 {
      z-index: 5;
      grid-column: 1/4;
      grid-row: 3/7;
      background-image: url("../media/paperfull.png");
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      display: grid;
      grid-template-columns: 10% 40% 40% 10%;
      grid-template-rows: 20% 15% 20% 20% 25%;
      text-align: center; }
      * .bgwrapper4 .paperwrapper5 .headingwrapper {
        grid-column: 1/-1;
        grid-row: 2/3; }
        * .bgwrapper4 .paperwrapper5 .headingwrapper h1 {
          font-size: 1.5rem; }
      * .bgwrapper4 .paperwrapper5 .counterwrapper {
        grid-row: 1/2;
        display: grid;
        align-items: center;
        grid-column: 2/4; }
        * .bgwrapper4 .paperwrapper5 .counterwrapper p {
          margin-top: 20px; }
      * .bgwrapper4 .paperwrapper5 .txtwrapperit {
        font-style: italic;
        font-size: 0.9rem; }
      * .bgwrapper4 .paperwrapper5 .infowrapper {
        font-size: 0.9rem;
        grid-column: 2/4;
        grid-row: 3/4; }
      * .bgwrapper4 .paperwrapper5 .btnwrapper3 {
        grid-row: 5/6;
        grid-column: 2/3;
        z-index: 25; }
        * .bgwrapper4 .paperwrapper5 .btnwrapper3 .btn-style {
          background-image: url(../media/ikon3.png);
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: #391f17;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: bree, sans-serif; }
      * .bgwrapper4 .paperwrapper5 .btnwrapper2 {
        margin-top: 20px;
        grid-row: 5/6;
        grid-column: 3/4;
        display: grid;
        align-items: center;
        z-index: 25; }
        * .bgwrapper4 .paperwrapper5 .btnwrapper2 .btn-style {
          background-image: url(../media/ikon3.png);
          background-size: 100%;
          background-repeat: no-repeat;
          background-color: transparent;
          border: none;
          color: #391f17;
          padding: 7px 32px;
          text-align: center;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.2rem;
          font-family: bree, sans-serif; }
      * .bgwrapper4 .paperwrapper5 .arrow-upwrapper {
        grid-row: 1/4;
        grid-column: 3/5;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%); }
        * .bgwrapper4 .paperwrapper5 .arrow-upwrapper .pilop {
          display: grid;
          grid-row: 2/6;
          grid-column: 4/6;
          z-index: 21;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%;
          margin-top: 5%; }
          * .bgwrapper4 .paperwrapper5 .arrow-upwrapper .pilop #pilopimg {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 20; }
          * .bgwrapper4 .paperwrapper5 .arrow-upwrapper .pilop #pilopimg:hover {
            cursor: pointer; }
        * .bgwrapper4 .paperwrapper5 .arrow-upwrapper .pilop2 {
          display: grid;
          grid-row: 5/6;
          grid-column: 4/6;
          z-index: 21;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%;
          margin-top: 5%; }
          * .bgwrapper4 .paperwrapper5 .arrow-upwrapper .pilop2 #pilopimg2 {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 20; }
          * .bgwrapper4 .paperwrapper5 .arrow-upwrapper .pilop2 #pilopimg2:hover {
            cursor: pointer; }
      * .bgwrapper4 .paperwrapper5 .arrow-downwrapper {
        grid-row: 4/6;
        grid-column: 3/5;
        z-index: 20;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        z-index: 6; }
        * .bgwrapper4 .paperwrapper5 .arrow-downwrapper .nedad {
          display: grid;
          grid-row: 1/6;
          grid-column: 4/6;
          margin-right: 29%;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-template-rows: 100%; }
          * .bgwrapper4 .paperwrapper5 .arrow-downwrapper .nedad #pilnedimg {
            grid-row: 1/2;
            grid-column: 2/3;
            max-width: 30px;
            align-self: center;
            z-index: 21; }
          * .bgwrapper4 .paperwrapper5 .arrow-downwrapper .nedad #pilnedimg:hover {
            cursor: pointer; }
      * .bgwrapper4 .paperwrapper5 .selectwrapper {
        grid-row: 3/5;
        grid-column: 2/4;
        overflow-x: scroll;
        margin-top: 10%;
        z-index: 40; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper input {
          position: absolute;
          opacity: 0;
          cursor: pointer; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .underline {
          position: absolute;
          top: 35px;
          left: 40%;
          height: 25px;
          width: 60px; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .underline:after {
          content: "";
          position: absolute;
          display: none; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper input:checked ~ .underline {
          background-image: url("../media/ikon13.png");
          background-size: 100%;
          background-repeat: no-repeat; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper input:checked ~ .underline:after {
          display: block; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper label li {
          padding-bottom: 7px; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper2 {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper2 input {
            position: absolute;
            opacity: 0;
            cursor: pointer; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper2 .underline {
            position: absolute;
            top: 35px;
            left: 25%;
            height: 25px;
            width: 150px; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper2 .underline:after {
            content: "";
            position: absolute;
            display: none; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper2 input:checked ~ .underline {
            background-image: url("../media/ikon1.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper2 input:checked ~ .underline:after {
            display: block; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper2 label li {
            padding-bottom: 7px; }
        * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper3 {
          display: block;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 22px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper3 input {
            position: absolute;
            opacity: 0;
            cursor: pointer; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper3 .underline {
            position: absolute;
            top: 35px;
            left: 24%;
            height: 25px;
            width: 180px; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper3 .underline:after {
            content: "";
            position: absolute;
            display: none; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper3 input:checked ~ .underline {
            background-image: url("../media/ikon1.png");
            background-size: 100%;
            background-repeat: no-repeat; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper3 input:checked ~ .underline:after {
            display: block; }
          * .bgwrapper4 .paperwrapper5 .selectwrapper .listwrapper3 label li {
            padding-bottom: 7px; }
      * .bgwrapper4 .paperwrapper5 .btnwrapper2 {
        margin-top: 20px;
        grid-row: 5/6;
        grid-column: 3/4;
        display: grid;
        align-items: center;
        z-index: 25; }
        * .bgwrapper4 .paperwrapper5 .btnwrapper2 .btn-style {
          width: 80%; }
      * .bgwrapper4 .paperwrapper5 .btnwrapper3 {
        grid-row: 5/6;
        grid-column: 2/3;
        z-index: 25;
        margin-top: 20px;
        display: grid;
        align-items: center; }
        * .bgwrapper4 .paperwrapper5 .btnwrapper3 .btn-style {
          width: 80%; }
      * .bgwrapper4 .paperwrapper5 .txtwrapperit {
        font-style: italic;
        font-size: 0.9rem;
        grid-column: 2/4;
        grid-row: 3/4; }
      * .bgwrapper4 .paperwrapper5 .selectwrapper ul li {
        margin-bottom: 5%; }
      * .bgwrapper4 .paperwrapper5 .selectwrapper {
        grid-row: 3/5;
        margin-top: 10%; }
      * .bgwrapper4 .paperwrapper5 .mt-10p {
        margin-top: 20%; }
      * .bgwrapper4 .paperwrapper5 #alittleup {
        margin-top: 0; }
  * .bgwrapper6 {
    grid-row: 1/-1;
    grid-column: 1/2;
    background-image: url("../media/bar-1.png");
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 20vh;
    grid-auto-rows: 10vh;
    background-color: #512520; }
    * .bgwrapper6 .paperwrapper6 {
      grid-column: 1/-1;
      grid-row: 3/ span 22;
      background-image: url("../media/paperfull2.png");
      background-size: 100%;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      display: grid;
      text-align: center;
      grid-template-columns: 100%;
      grid-template-rows: 5% 5% 5%;
      grid-auto-rows: 20vh; }
      * .bgwrapper6 .paperwrapper6 .headingwrapper {
        grid-column: 1/2;
        grid-row: 2/3;
        font-size: 0.7rem; }
      * .bgwrapper6 .paperwrapper6 .txtwrapperit {
        grid-column: 1/2;
        grid-row: 2/4;
        margin-top: 2em; }
      * .bgwrapper6 .paperwrapper6 .noResult {
        grid-column: 2/3; }
      * .bgwrapper6 .paperwrapper6 .displaywrapper {
        grid-row: 4/ span 8;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-auto-rows: 50vh;
        grid-row-gap: 2em; }
        * .bgwrapper6 .paperwrapper6 .displaywrapper .gameresultwrapper {
          grid-column: 2/3;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 10vh 30vh 10vh; }
          * .bgwrapper6 .paperwrapper6 .displaywrapper .gameresultwrapper .gameresultimg {
            grid-column: 1/-1;
            grid-row: 2/3;
            display: grid;
            justify-items: center;
            align-items: center; }
            * .bgwrapper6 .paperwrapper6 .displaywrapper .gameresultwrapper .gameresultimg img {
              max-height: 30vh; }
          * .bgwrapper6 .paperwrapper6 .displaywrapper .gameresultwrapper h2 {
            grid-row: 1/2; }
          * .bgwrapper6 .paperwrapper6 .displaywrapper .gameresultwrapper p {
            grid-column: 1/-1;
            grid-row: 3/4; }
      * .bgwrapper6 .paperwrapper6 .buttonswrapper {
        grid-row: 12/13;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 10% 40% 40% 10%; }
        * .bgwrapper6 .paperwrapper6 .buttonswrapper .btnwrapper {
          grid-column: 2/3; }
          * .bgwrapper6 .paperwrapper6 .buttonswrapper .btnwrapper button {
            cursor: pointer;
            font-size: 1.2rem; }
          * .bgwrapper6 .paperwrapper6 .buttonswrapper .btnwrapper .btn-style {
            margin-right: 17.4%;
            background-image: url("../media/ikon3-1.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            color: #391f17;
            padding: 7px 30px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.2rem; }
        * .bgwrapper6 .paperwrapper6 .buttonswrapper .btnwrapper2 {
          grid-column: 3/4; }
          * .bgwrapper6 .paperwrapper6 .buttonswrapper .btnwrapper2 .btn-style2 {
            margin-right: 17.4%;
            background-image: url("../media/ikon3-1.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: transparent;
            border: none;
            color: #391f17;
            padding: 7px 30px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            font-size: 1.2rem; }

/*# sourceMappingURL=main.css.map */
